/* -------- RESET -------- */
*{
	padding: 0;
	margin: 0;
	outline: none;
	list-style: none;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main{
	display: flex;
	flex: 1;
	width: 100vw;
	height: 100vh;
}

.content{
	display: flex;
	flex: 1;
	margin-top: 60px;
	width: 100%;
}

.pagination{
	position: absolute; 
	bottom: 0; 
	margin-bottom: 200px;
}

.accept{
	 position: absolute; 
	 margin-top: 20px; 
	 right: 0; 
	 text-align: center; 
	 font-family: sans-serif; 
	 font-weight: bold; 
	 padding: 10px; 
	 bottom: 0; 
	 width: 80%; 
	 background: green; 
	 color: #FFF; 
	 z-index: 777;
}

.error{
	position: absolute; 
	margin-top: 20px; 
	right: 0; 
	text-align: center; 
	font-family: sans-serif; 
	font-weight: bold; 
	padding: 10px; 
	bottom: 0; 
	width: 80%; 
	background: red; 
	color:#FFF;
	z-index: 777;
}

table{
	text-align: center;
	font-size: 20px;
	background: rgba(169,169,169, 1);
	color:#FFF;
}

table thead{
	background: green;
	color: #FFF;
}
table tbody tr{
	color:#FFF;
	font-family: Arial;
}
table tbody tr:nth-child(even) {
	background-color: rgba(0,0,0,0.5);
}

table a{
	color: #FFF;	
}
/* -------------------------------- */

/* -------- PAGE LOGIN -------- */
.login{
	width: 100vw;
	height: 100vh;
	background: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login .login__logo{
	text-align: center;
}

.login .login__p{
	text-align: center;
	color: #FFF;
}

.login label{
	font-weight: bold;
	padding: 10px 0px;
	color: #FFF;
}

.login .btn{
	display: block;
	width: 100%;
	margin-top: 30px;
	font-size: 18px;
}

/* -------------------------------- */

/* -------- PAGE HOME -------- */
.content .home{
	width: 100%;
}

.content .home h1{
	color: gray;
	background-color: rgba(220,220,220,0.5);
	font-size: 20px;
	padding: 13px 15px;
}

.content .home .container h2{
	border-bottom: 1px solid rgba(0,0,0,0.1);
	font-family: Arial;
}

.content .home .container .group_card{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: -1;
}

.content .home .container .group_card .card{
	-webkit-background: linear-gradient(darkgreen, lightgreen);
	-moz-background: linear-gradient(darkgreen, lightgreen);
	background: linear-gradient(darkgreen, lightgreen);
	color: #FFF;
	margin: 10px;
	box-shadow: 0 3px 2px 1px rgba(0,0,0,0.3);
}

.content .home .container .empty{
	line-height: 3;
	padding-left: 10px;
}

.content .home .container .empty .empty__text{
	font-size: 20px;
	font-style: italic;
}

.content .home .container .empty .empty__add{
	background: green;
	color: #FFF;
	padding: 10px;
	text-decoration: none;
	margin-left: 10px;
}

.content .home .container .empty .empty__add:hover{
	background: darkgreen;
	color: lightgreen;
	transition: 0.4s ease;
}
/* -------------------------------- */

/* -------- PAGE REGISTER -------- */

.content .register{
	width: 100%;
}
.content .register h1{
	color: gray;
	background-color: rgba(220,220,220,0.5);
	font-size: 25px;
	padding: 10px 15px;
	font-weight: bold;
	font-family: Helvetica;
}

.content .container .register__form label{
	font-size: 20px;
	padding: 10px 0;
}

.content .container .register__form input, 
.content .container .register__form select{
	width: 25%;
}

.content .container .register__form .btn{
	margin-top: 50px;
}
/* -------------------------------- */

/* -------- PAGE ACCOUNT -------- */
.content .account__add{
	width: 100%;
}
.content .account__add h1{
	color: gray;
	background-color: rgba(220,220,220,0.5);
	font-size: 25px;
	padding: 10px 15px;
	font-weight: bold;
	font-family: Helvetica;
}

.content .container .account__form label{
	font-size: 20px;
	padding: 10px 0;
}

.content .container .account__form input, 
.content .container .account__form select{
	width: 25%;
}

.content .container .account__form .btn{
	margin-top: 50px;
}

.content .list{
	width: 100%;
}

.content .list h1{
	width: 100%;
	color: gray;
	background-color: rgba(220,220,220,0.5);
	font-size: 25px;
	padding: 10px 15px;
	font-weight: bold;
	font-family: Helvetica;
}

.content .list .container .empty{
	line-height: 3;
	padding-left: 10px;
}

.content .list .container  .empty .empty__text{
	font-size: 20px;
	font-style: italic;
}

.content .list .container  .empty .empty__add{
	background: green;
	color: #FFF;
	padding: 10px;
	text-decoration: none;
	margin-left: 10px;
}

.content .list .container .empty .empty__add:hover{
	background: darkgreen;
	color: lightgreen;
	transition: 0.4s ease;
}

.content .update{
	width: 100%;
}

.content .update h1{
	color: gray;
	background-color: rgba(220,220,220,0.5);
	font-size: 25px;
	padding: 10px 15px;
	font-weight: bold;
	font-family: Helvetica;
}

.content .update label{
	font-size: 20px;
	padding: 10px 0;
}

.content .update input, 
.content .update select{
	width: 25%;
}

.content .update .btn{
	margin-top: 50px;
}

.content .deposit{
	width: 100%;
}

.content .deposit h1{
	color: gray;
	background-color: rgba(220,220,220,0.5);
	font-size: 25px;
	padding: 10px 15px;
	font-weight: bold;
	font-family: Helvetica;
}

.content .deposit .container .deposit__abstract{
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.content .deposit .container .deposit__abstract h2,
.content .deposit .container .deposit__abstract h4{
	font-family: serif;
	font-weight: bold;
}

.content .deposit .container .deposit__form label{
	font-size: 22px;
	padding: 10px 0;
}

.content .deposit .container .deposit__form .btn{
	margin-top: 25px;
}

.content .retire{
	width: 100%;
}

.content .retire h1{
	color: gray;
	background-color:rgba(220,220,220,0.5);
	font-size: 25px;
	padding: 10px 15px;
	font-weight: bold;
	font-family: Helvetica;
}

.content .deposit .container .deposit__abstract{
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.content .retire .container .retire__abstract h2,
.content .retire .container .retire__abstract h4{
	font-family: serif;
	font-weight: bold;
}

.content .retire .container .retire__form label{
	font-size: 22px;
	padding: 10px 0;
}

.content .retire .container .retire__form .btn{
	margin-top: 25px;
}

.content .transfer{
	width: 100%;
}

.content .transfer h1{
	color: gray;
	background-color:rgba(220,220,220,0.5);
	font-size: 25px;
	padding: 10px 15px;
	font-weight: bold;
	font-family: Helvetica;
}

.content .transfer .container .transfer__abstract{
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.content .transfer .container .transfer__form label{
	font-size: 22px;
	padding: 10px 0;
}

.content .transfer .container .transfer__form .btn{
	margin-top: 25px;
}

.content .confirm{
	width: 100%;
}

.content .confirm h1{
	color: gray;
	background-color:rgba(220,220,220,0.5);
	font-size: 25px;
	padding: 10px 15px;
	font-weight: bold;
	font-family: Helvetica;
}

.content .confirm .container .confirm__abstract{
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.content .confirm .container .confirm__form label{
	font-size: 22px;
	padding: 15px 0;
}

.content .confirm .container .confirm__form .btn{
	margin-top: 25px;
}
/* -------------------------------- */

/* -------- PAGE HISTORIC -------- */
.content .historic{
	width: 100%;
}

.content .historic h1{
	color: gray;
	background-color: rgba(220,220,220,0.5);
	font-size: 25px;
	padding: 10px 15px;
	font-weight: bold;
	font-family: Helvetica;
}

.content .historic .container .empty{
	line-height: 3;
	padding-left: 10px;
}

.content .historic .container .empty .empty__text{
	font-size: 20px;
	font-style: italic;
}
/* -------------------------------- */

/* -------- Componente HEADER (Main) -------- */
.header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 50px;
	width: 100%;
	height: 60px;
	background: #000;
	position: absolute;
}

.header .menu_bar{
	position: absolute;
	top: 15px;
	left: 10px;
	font-size: 30px;
	color: #FFF;
	display: none;
}

.header .header__logo{
	width: 120px;
}

.header .header__user ul{
	padding: 0;
	margin: 0;
}

.header .header__user ul li a{
	text-decoration: none;
	color: #FFF;
	display: block;
}

.header .header__user ul li a:hover{
	color: #FFF;
	display: block;
	cursor: pointer;
}

.header .header__user ul li ul{
	position: absolute;
	right: 0;
	padding: 0;
	color:#000;
	width: 200px;
	background: rgba(0,0,0, 0.7);
	border-top: 1px solid rgba(192,192,192, 0.4);
	margin-top: 18px;
	text-align: center;
}

.header .header__user ul li ul li a{
	padding: 10px 0px;
	display: block;
}

.header .header__user ul li ul li a:hover{
	background: blue;
	transition: 0.2s;
}
/* -------------------------------- */

/* -------- Componente SIDEBAR (Main) -------- */
.side-bar{
	background: rgb(192,192,192);
	width: 20%;
	margin-top: 60px;
	color: navy;
}

.side-bar .menu{
	width: 100%;
}

.side-bar .menu .menu__header h4{
	font-weight: bold;
	font-family: Helvetica;
	text-align: center;
	padding: 10px 0;
 	border-bottom: 1px solid rgba(0,0,0,0.1);
 	z-index: 999;
}

.side-bar .menu .item{
	position: relative;
	cursor: pointer;
}

.side-bar .menu .item a{
	text-decoration: none;
	display: block;
	padding: 0px 20px;
	line-height: 60px;
	transition: 0.3s ease;
	font-family: Helvetica;
	color: darkblue;

}

.side-bar .menu .item i{
	margin-right: 10px;
}

.side-bar .menu .item a:hover{
	background: blue;
	color: #FFF;
}

.side-bar .menu .item a .dropdown{
	position: absolute;
	right: 0;
	margin: 20px;
	transition: 0.2s ease;
}

.side-bar .menu .item .sub-item{
	background: lightgray;
	display: none;
}

.side-bar .menu .item .sub-item a{
 	text-align: center;
 	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.rolate{
	transform: rotate(90deg);
}
/* -------------------------------- */

/* -------- Responsividade (Media Query) -------- */
@media (max-width: 800px) {
	/* -------- RESET -------- */

	.main{
		position: absolute;
		display: block;
	}

	.content {
		text-align: center;
		margin-top: 100px;
	}

	table{
		border: none;
	}

	table thead{
		display: none;
	}

	table tbody tr{
		display: block;
	}

	table tbody tr:nth-child(even) {
		background-color: rgba(0,0,0,0.5);
	}

	table tbody tr td{
		display: block;
		text-align: right;
		font-size: 20px;
		margin:10px 0;
	}

	table tbody tr td:before{
		content: attr(data-title);
		position: absolute;
		display: block;
		font-weight: bold;
		font-size: 17px;
	}

	.accept{
		width: 100%;
	}

	.error{
		width: 100%;
	}
	/* -------------------------------- */

	.login .login__logo{
		width: 100%;
	}

	.register input{
		width:100% !important;
	}

	.account__form input, 
	.account__form select{
		width: 100% !important;
	}

	.update input, 
	.update select{
		width: 100% !important;
	}

	.deposit__form .btn,
	.retire__form .btn{
		margin-top: 25px;
	}

	.header{
		flex:1;
		flex-wrap: wrap;
		justify-content: space-between;
		height: 100px;	
	}

	.header .menu_bar{
		display: block;
	}

	.side-bar{
		display: none;
	}

	.side-bar.show{
		display: block;
		position: absolute;
		z-index: 999;
		width: 100%;
		height: 100%;
	}

	.group_card{
		margin-bottom: 30px;
	}

	.card{
		display: flex;
		flex: 1 200px;
	}

	.empty{
		display: flex;
		flex-direction: column;
	}

	.pagination {
		position: relative;
		display: flex;
		justify-content: center;
	}

	@media (min-width: 338px){
		.header{
			display: flex;
			justify-content: space-evenly;
			padding: 0 1px;
		}

		.header .header__user ul li ul{
			width: 100%;
			z-index: 888;
			margin-top: 35px;
		}

		.side-bar.show{
			margin: 100px 0;
			width: 70%;
		}

	}

	@media (max-width: 337px){
		.header{
			display: flex;
			justify-content: center;
		}

		.header .header__user ul li ul{
			width: 100%;
			z-index: 888;
			margin-top: 15px;
		}

	}

}


