/* -------- RESET -------- */
*{
	padding: 0;
	margin: 0;
	outline: none;
	list-style: none;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: serif;
}

.main{
	display: flex;
	flex:1;
	width: 100vw;
	height: 100vh;
}

.content{
	display: flex;
	margin-top:60px;
	width: 100%;
	background-color:rgba(220,220,220,0.4);
}
/* -------------------------------- */

/* -------- Página LOGIN -------- */
.login{
	width: 100vw;
	height: 100vh;
	background: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login .login__logo{
	text-align: center;
}

.login .login__p{
	text-align: center;
	color:#FFF;
}

.login label{
	font-weight: bold;
	padding:10px 0px;
	color:#FFF;
}

.login .btn{
	display: block;
	width: 100%;
	margin-top:30px;
	font-size: 18px;
}

.alert{
	margin-top:10px;
}

@media (max-width: 800px) {
	.login .login__logo{
		width:100%;
	}

	.alert{
		width:100%;
	}
}
/* -------------------------------- */

/* -------- Página HOME -------- */
.content .home{
	width: 100%;
	color:gray;
	background-color:rgba(220,220,220,0.4);
}

.content .home h1{
	width: 100%;
	color:gray;
	background-color:rgba(220,220,220,0.5);
	font-size: 20px;
	padding:13px 15px;
}

.content .home .container h2{

}

.content .home .container .card{
	display: flex;
	flex:1;
	justify-content: space-between;
	align-items: center;
	background: green;
	color:#FFF;
}

.content .home .container .card h3{
	padding: 10px 0;
	font-family: serif;
}
/* -------------------------------- */

/* -------- Página ACCOUNT -------- */
.content .account__add{
	width:100%;
}
.account__add h1{
	width: 100%;
	color:gray;
	background-color:rgba(220,220,220,0.5);
	font-size: 25px;
	padding:10px 15px;
	font-weight: bold;
	font-family: Helvetica;
}

.account__form label{
	padding:10px 0;
}

.account__form input, .account__form select{
	width:25%;
}

.account__form .btn{
	margin-top:50px;
}
/* -------------------------------- */

/* -------- Componente HEADER (Main) -------- */
.header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 50px;
	width: 100%;
	height: 60px;
	background: #000;
	position: absolute;
}

.header .header__logo{
	width:120px;
}

.header .header__user ul{
	padding:0;
	margin: 0;
}

.header .header__user ul li a{
	text-decoration: none;
	color:#FFF;
	display: block;
}

.header .header__user ul li a:hover{
	color:#FFF;
	display: block;
	cursor: pointer;
}

.header .header__user ul li ul{
	position: absolute;
	right:0;
	padding: 0;
	color:#000;
	width: 200px;
	background: rgba(0,0,0, 0.3);
	text-align: left;
	border-top: 1px solid rgba(192,192,192, 0.4);
	margin-top: 23px;
	text-align: center;
}

.header .header__user ul li ul li a{
	padding: 10px 0px;
	display: block;
}

.header .header__user ul li ul li a:hover{
	background: blue;
	transition: 0.2s;
}
/* -------------------------------- */

/* -------- Componente SIDEBAR (Main) -------- */
.side-bar{
	background: rgb(192,192,192);
	width: 20%;
	height: 100vh;
	overflow-y: auto;
	margin-top:60px;
	color:navy;
	height:auto;
}

.side-bar .menu{
	width: 100%;
}

.side-bar .menu .menu__header h4{
	font-weight: bold;
	font-family: Helvetica;
	text-align: center;
	padding: 10px 0;
 	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.side-bar .menu .item{
	position: relative;
	cursor: pointer;
}

.side-bar .menu .item a{
	text-decoration: none;
	display: block;
	padding: 0px 20px;
	line-height: 60px;
	transition: 0.3s ease;
	font-family: Helvetica;
	color:darkblue;

}

.side-bar .menu .item i{
	margin-right: 10px;
}

.side-bar .menu .item a:hover{
	background: blue;
	color: #FFF;
}

.side-bar .menu .item a .dropdown{
	position: absolute;
	right: 0;
	margin: 20px;
	transition: 0.2s ease;
}

.side-bar .menu .item .sub-item{
	background: lightgray;
	display: none;
}

.side-bar .menu .item .sub-item a{
 	text-align: center;
 	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.rolate{
	transform: rotate(90deg);
}

/* -------------------------------- */




